version: '3.8'

services:
  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    command: uvicorn backend.app:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - TF_ENABLE_ONEDNN_OPTS=0
    restart: always

  frontend:
    image: node:18-alpine
    working_dir: /app/frontend
    volumes:
      - ./frontend:/app/frontend
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
